# Private API keys for updating IPv4 & IPv6 addresses on Cloudflare
config.json

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
/ipv4-6.py
.vs/cloudflare-ddns/FileContentIndex/23d6a378-71ba-4e02-bad6-3045fab81066.vsidx
.vs/cloudflare-ddns/FileContentIndex/443117be-11bb-4fc7-87c6-32098cad8a2b.vsidx
.vs/cloudflare-ddns/FileContentIndex/8177aa9d-99d0-44e6-8ddc-dedcca3fb1f9.vsidx
.vs/cloudflare-ddns/FileContentIndex/cb2a1abb-a144-465b-bc46-667f47428276.vsidx
.vs/cloudflare-ddns/v17/.suo
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
